.hero {
  height: 100vh;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 26rem;
  left: 22rem;
  width: 600px;
  height: 500px;
  font-family: "Pacifico";
  font-size: 1.2rem;
  z-index: 5;
  
}

.hero-text h2 {
  font-size: 2rem;
}


.hide {
  position: absolute;
  color: red;
  left: -200%;
}

.show {
  margin-top: 1.1rem;
  margin-left: 0.2rem;
  position: absolute;
  color: blue;
  left: 12;
}

.places-btn button {
  margin-top: 1rem;
  height: 2.2rem;
  width: 130px;
  background: transparent;
  border: 2px solid white;
  font-size: 1.2rem;
  font-family: "Bebas Neue";
  color: #99ddda;
  cursor: pointer;
}

.places-btn button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.hero-text ul {
  display: flex;
  flex-direction: column;
}

.places-btn li {
  margin: 0.8rem;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Bebas Neue";
  color: #99ddda;
}

.places-btn li:hover {
  color: white;
}

li span {
  color: white;
  padding-bottom: 1rem;
  position:relative;
  top: -0.5rem;
}

@media screen and (max-width: 1300px) {
  .hero-text {
    left: 13rem;
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 950px) {
  .hero-text {
    left: 9rem;
    font-size: 1.1rem;
    width: 450px;
    height: 400px;
  }

  .hero-text h2 {
    font-size: 1.8rem;
  }

  .show {
    margin-top: 0.6rem;
    margin-left: 0.2rem;
    position: absolute;
    color: blue;
    left: 12;
  }
  
  .places-btn button {
    margin-top: 0.5rem;
    height: 2rem;
    width: 125px;
    font-size: 1.05rem;
  }
  
  .places-btn li {
    margin: 0.8rem;
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 680px) {
  .hero {
    height: 100vh;
  }

  .hero img {
    height: 100vh;
  }

  .hero-text {
    left: 3rem;
    font-size: 0.9rem;
    width: 320px;
    height: 300px;
  }

  .hero-text h2 {
    font-size: 1.6rem;
  }

  .show {
    margin-top: 0.6rem;
    margin-left: 0.2rem;
    position: absolute;
    color: blue;
    left: 12;
  }
  
  .places-btn button {
    margin-top: 0.4rem;
    height: 1.6rem;
    width: 115px;
    font-size: 0.95rem;
  }
  
  .places-btn li {
    margin: 0.8rem;
    width: 100%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 420px) {
  .hero-text {
    top: 23rem;
    left: 1.5rem;
    font-size: 0.8rem;
    width: 260px;
    height: 250px;
  }

  .hero-text h2 {
    font-size: 1.2rem;
  }

  .show {
    margin-top: 0.6rem;
    margin-left: -0.6rem;
    position: absolute;
    color: blue;
    left: 12;
  }
  
  .places-btn button {
    margin-top: 0.4rem;
    height: 1.5rem;
    width: 90px;
    font-size: 0.90rem;
  }
  
  .places-btn li {
    margin: 0.8rem;
    width: 100%;
    font-size: 1.1rem;
  }
}
