.photo-grid {
  width: 100%;
  height: 100vh;
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.grid {
  width: 90%;
  max-width: 750px;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  padding: 1rem;
}

.pic-one {
  grid-row: span 3 / span 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-two {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-three {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-four {
  grid-row: span 3 / span 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-five {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.photo-grid .info {
  margin-left: 1rem;
  width: 90%;
  max-width: 700px;
  height: 85vh;
  background-color: #d6b1f7;
  padding: 3.3rem 4rem;
}

.info h2 {
  font-family: "Pacifico";
  width: 300px;
  font-size: 3.3rem;
  margin: auto;
  margin-bottom: 3rem;
  padding-bottom: 0.2rem;
  text-align: center;
  border-bottom: 4px solid #99ddda;
}

.info li {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .photo-grid {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
  }

  .grid {
    width: 100%;
    height: 85vh;
  }

  .photo-grid .info {
    margin-left: 0rem;
    width: 92%;
    max-width: 700px;
    height: 70vh;
    background-color: #d6b1f7;
    padding: 2rem 2.5rem;
  }

  .info h2 {
    font-family: "Pacifico";
    width: 260px;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .info li {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
  }

  .grid {
    width: 100%;
    height: 85vh;
  }

  .photo-grid .info {
    margin-left: 0rem;
    width: 92%;
    max-width: 700px;
    height: 70vh;
    background-color: #d6b1f7;
    padding: 1.2rem 2rem;
  }

  .info h2 {
    font-family: "Pacifico";
    width: 220px;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .info li {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 510px) {
  .photo-grid {
    width: 100%;
    height: 130vh;
    padding: 0rem;
    display: flex;
    flex-direction: column;
  }

  .grid {
    width: 100%;
    height: 65vh;
  }

  .photo-grid .info {
    margin-left: 0rem;
    width: 92%;
    max-width: 700px;
    height: 60vh;
    background-color: #d6b1f7;
    padding: 1rem 1.2rem;
  }

  .info h2 {
    font-family: "Pacifico";
    width: 200px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .info li {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 410px) {
  .photo-grid {
    width: 100%;
    height: 125vh;
    padding: 0rem;
  }

  .grid {
    width: 100%;
    height: 65vh;
  }

  .photo-grid .info {
    margin-left: 0rem;
    width: 88%;
    max-width: 700px;
    height: 56vh;
    background-color: #d6b1f7;
    padding: 1rem 1.2rem;
  }

  .info h2 {
    font-family: "Pacifico";
    width: 140px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .info li {
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
  }
}
