.photo-grid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.grid {
  width: 90%;
  max-width: 750px;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  padding: 1rem;
}

.pic-one {
  grid-row: span 3 / span 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-two {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-three {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-four {
  grid-row: span 3 / span 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.pic-five {
  grid-row: span 2 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.info {
  width: 90%;
  max-width: 750px;
  height: 90vh;
  border: 1px solid red;
}

@media screen and (max-width: 1100px){
  .photo-grid {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
  }

  .grid {
    width: 100%;
    height: 60vh;
  }

  .info {
    width: 90%;
    height: 60vh;
  }
}
