.review-container {
  height: 960px;
  width: 100%;
  margin: 0rem;
  background-color: black;
  position: relative;
}

.review-container img {
  width: 100%;
  height: 940px;
  object-fit: cover;
}

.review-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 950px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 17rem;
  left: 30rem;
  height: 390px;
  width: 180px;
}

.user-details img {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 2px 1px 124px 21px rgba(214, 177, 247, 0.89);
}

.user-details p {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: white;
}

.user-details .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.user-details .rating-sm {
  display: none;
}

.review-container .review {
  width: 330px;
  height: 500px;
  position: absolute;
  top: 16.5rem;
  left: 47rem;
}

.review-container .review .review-title {
  margin-bottom: 1.5rem;
  color: #99ddda;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Pacifico";
}

.review-container .review p {
  color: white;
  font-size: 1.35rem;
  text-align: center;
}

.user-details .back-btn {
  position: relative;
  margin-top: 0.5rem;
}

.user-details .back-btn span {
  position: absolute;
  top: 0.2rem;
  left: -1.8rem;
  color: #99ddda;
}

.user-details .back-btn p {
  position: absolute;
  font-size: 1.1rem;
  top: -0.6rem;
  left: -0.5rem;
  color: #99ddda;
  font-family: "Pacifico";
}

@media screen and (max-width: 1250px) {
  .user-details {
    top: 19rem;
    left: 14rem;
    height: 350px;
    width: 180px;
  }

  .user-details p {
    margin-top: 1.4rem;
    font-size: 2rem;
  }

  .review-container .review {
    width: 330px;
    height: 500px;
    top: 16.5rem;
    left: 33rem;
  }

  .review-container .review .review-title {
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
  }

  .review-container .review p {
    font-size: 1.2rem;
  }

  .user-details .back-btn {
    margin-top: 0.5rem;
  }

  .user-details .back-btn span {
    top: 0.2rem;
    left: -1.8rem;
  }

  .user-details .back-btn p {
    font-size: 1.1rem;
    top: -0.8rem;
    left: -0.5rem;
  }
}

@media screen and (max-width: 940px) {
  .user-details {
    top: 19rem;
    left: 9rem;
    height: 300px;
    width: 180px;
  }

  .user-details img {
    height: 130px;
    width: 130px;
    box-shadow: 2px 1px 60px 21px rgba(214, 177, 247, 0.89);
  }

  .user-details p {
    margin-top: 1.5rem;
    font-size: 1.7rem;
  }

  .user-details .rating {
    display: none;
  }

  .user-details .rating-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .review-container .review {
    width: 250px;
    height: 500px;
    top: 16.5rem;
    left: 24rem;
  }

  .review-container .review .review-title {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  .review-container .review p {
    font-size: 1rem;
  }

  .user-details .back-btn {
    margin-top: 0.5rem;
  }

  .user-details .back-btn span {
    top: 0.2rem;
    left: -1.8rem;
  }

  .user-details .back-btn p {
    font-size: 1.1rem;
    top: -0.2rem;
    left: -0.5rem;
    font-family: "Pacifico";
  }
}

@media screen and (max-width: 690px) {
  .user-details {
    top: 15rem;
    left: 14rem;
    height: 200px;
    width: 180px;
  }

  .user-details img {
    height: 130px;
    width: 130px;
    box-shadow: 2px 1px 60px 21px rgba(214, 177, 247, 0.89);
  }

  .user-details p {
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  .review-container .review {
    width: 300px;
    height: 500px;
    top: 32rem;
    left: 11rem;
  }

  .review-container .review .review-title {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  .review-container .review p {
    font-size: 1rem;
  }

  .user-details .back-btn {
    margin-top: 0.5rem;
  }

  .user-details .back-btn span {
    top: 0.2rem;
    left: -1.8rem;
  }

  .user-details .back-btn p {
    font-size: 1.1rem;
    top: -0.2rem;
    left: -0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .user-details {
    top: 12.5rem;
    left: 9rem;
    height: 200px;
    width: 180px;
  }

  .user-details img {
    height: 130px;
    width: 130px;
  }

  .user-details p {
    margin-top: 1rem;
    font-size: 1.7rem;
    color: white;
  }

  .review-container .review {
    top: 29rem;
    left: 5.5rem;
  }

  .user-details .back-btn {
    margin-top: 0.5rem;
  }

  .user-details .back-btn span {
    top: 0.2rem;
    left: -1.8rem;
  }

  .user-details .back-btn p {
    font-size: 1.1rem;
    top: -0.2rem;
    left: -0.5rem;
  }
}

@media screen and (max-width: 420px) {
  .user-details {
    top: 12rem;
    left: 6.7rem;
  }

  .user-details img {
    height: 100px;
    width: 100px;
  }

  .user-details p {
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  .review-container .review {
    top: 27.5rem;
    left: 3.3rem;
  }

  .review-container .review .review-title {
    margin-bottom: 0.8rem;
  }
}
