.review-container {
  height: 110vh;
  width: 100%;
  background-color: black;
  position: relative;
}

.review-container img {
  width: 100%;
  height: 108vh;
  object-fit: cover;
}

.review-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 3px solid #99ddda; */
  box-shadow: 1px -1px 72px 9px rgba(0,0,0,0.91);
  border-radius: 85px;
  width: 740px;
  height: 690px;
  top: 13.5rem;
  left: 26rem;
}

.user-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 23rem;
  left: 30rem;
  height: 180px;
  width: 180px;
}

.user-details img {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 2px 1px 124px 21px rgba(214,177,247,0.89);
}

.user-details p {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: white;
}

.user-details .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.review-container .review {
  width: 330px;
  height: 500px;
  position: absolute;
  top: 16.5rem;
  left: 47rem;
}

.review-container .review .review-title {
  margin-bottom: 1.5rem;
  color: #99ddda;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Pacifico";
}

.review-container .review p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.user-details .back-btn {
  position: relative;
  margin-top: 0.5rem;
}

.user-details .back-btn span {
  position: absolute;
  top: 0.2rem;
  left: -1.8rem;
  color: #99ddda;
}

.user-details .back-btn p{
  position: absolute;
  font-size: 1.1rem;
  top: 2.5rem;
  left: -0.5rem;
  color: #99ddda;
  font-family: "Pacifico";
}
