.about {
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 16rem;
  padding-bottom: 10rem;
}

.about-data {
  position: relative;
  width: 440px;
  height: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.about-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 850px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 850px;
  z-index: 20;
}

.about-text p {
  color: white;
  align-items: center;
}

.about-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
