.nav {
  position: absolute;
  width: 100%;
  padding: 2rem 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.nav h1 {
  font-size: 3rem;
  font-family: "Pacifico";
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav li {
  font-family: "Pacifico";
  font-size: 1.1rem;
  margin-right: 1.4rem;
}

.hamburger {
  display: none;
}

.x {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav {
    padding: 2rem 3rem;
  }

  .nav h1 {
    font-size: 2.2rem;
  }

  .side-nav {
    background: black;
    border-left: 4px solid#99ddda;
    position: fixed;
    height: 100%;
    top: 0;
    left: 40%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 20;
  }

  .side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .side-nav li {
    margin: 2rem 0rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .x {
    display: flex;
    cursor: pointer;
    z-index: 20;
  }

  .nav li {
    margin-right: 0rem;
    display: flex;
  }

  li p {
    padding: 0rem 0.2rem;
    color: #99ddda;
  }

}

@media screen and (max-width: 400px) {
  .side-nav {
    left: 30%;
  }

  .nav {
    padding: 2rem 1.5rem;
  }

  .x {
    display: flex;
    cursor: pointer;
  }

  .nav h1 {
    font-size: 2rem;
  }
}
