.nav {
  position: absolute;
  width: 100%;
  padding: 2rem 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.nav h1 {
  font-size: 3rem;
  font-family: "Pacifico";
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav li {
  font-family: "Pacifico";
  font-size: 1.1rem;
  margin-right: 1.4rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav {
    padding: 2rem 3rem;
  }

  .nav h1 {
    font-size: 2.2rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .nav li {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    padding: 2rem 1.5rem;
  }

  .nav h1 {
    font-size: 2rem;
  }
}
