.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  background: black;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  position: absolute;
  cursor: pointer;
  left: 2rem;
  top: 27rem;
  color: white;
}

.forward {
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 27rem;
  color: white;
}

.slider-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
